<div>
	<h1>Gossip Protocol Chat</h1>
	{{me}}
	<div>
		<ul ng-repeat='(id,msg) in chatState.messages'>
			<li>
				
				<div ng-if="msg.Originator==me" class="btn btn-primary"><span class="badge">Me</span>
				{{msg.Text}}</div>
				
				<div ng-if="msg.Originator!=me" class="btn btn-warning"><span class="badge">{{msg.Originator}}</span>
				{{msg.Text}}</div>
			</li>
		</ul>
	</div>

<form ng-submit="submit()">
    <input ng-model="myMsg" type="text" name="myMsg" placeholder="Enter Message Here" />
    <input type="submit" value="Send" />
  </form>
</div>
<!--	<form action="api/sendChat" name="chatForm"  method="POST">	
		<input type="text" id="msgId" name="msgId" form="chatForm">
	
		</input>
		<input type="submit" value="Send">
	</form>-->

</div>
